 h4 {
    margin-top: 10vh;
}

 p {
    margin-top: 5vh
}

@media screen and (max-width: 768px){
    .experience .row {
        display: flex;
        flex-flow: column-reverse;
        overflow: hidden;
    }
}